body {
    margin: 0;
    background: #222;
    color: #eee;
    font-family: monospace;
    display: flex;
}

body>* {
    max-height: 100vh;
    overflow: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    --tile: calc(var(--size) / var(--proportion));
}

#screenlog {
    width: 40%;
}
#screenlog>p {
    font-family: monospace;
    word-wrap: break-word;
    margin: 0.5em 0;
}

#title {
    font-size: 40px;
}

.world {
    --x: 0;
    --y: 0;
    overflow: hidden;
    opacity: 0;
    width: var(--size);
    height: var(--size);
    background: var(--x) var(--y) rgb(73, 60, 41) url("img/grass.png") repeat;
    --bgsize: calc(var(--tile) * 4);
    background-size: var(--bgsize);
}

.tileContainer {
    position: relative;
    top: calc((var(--size) - var(--tile)) / 2);
    left: calc((var(--size) - var(--tile)) / 2);
    transform: translateY(var(--y)) translateX(var(--x));
    opacity: 0;
}

.fgtiles {
    position: relative;
    top:0;
    left:0;
}

.fgtiles>div {
    position: absolute;
}

.worldRow {
    height: var(--tile);
    display: flex;
}

.t {
    max-width: var(--tile);
    max-height: var(--tile);
    min-width: var(--tile);
    min-height: var(--tile);
}

.chikin {
    position: absolute;
    opacity: 0;
    width: var(--tile);
    height: var(--tile);
}
